<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Arbitragem da Luta</title>
  <link rel="stylesheet" href="../public/css/arbitragem.css">
</head>
<body>
  <header>
    <div class="compD">
      <span class="nomeAtleta"><p id="atleta1Nome">Nome do Atleta</p></span>
      <img class="logoAcad" id="acad1" src="../assets/bjj-logo.png" alt="comp2Acad">
    </div>
    <img class="logo" src="../assets/logo-org.webp" alt="">
    <div class="compD">
      <img class="logoAcad" id="acad2" src="../assets/bjj-logo.png" alt="comp2Acad"> 
      <span class="nomeAtleta"><p id="atleta2Nome">Nome do Atleta</p></span>
    </div>
  </header>
  <main>
    <div class="atleta">
      <input type="checkbox" class="faixaVA" name="faixaVA" id="faixaVA1">
      <div class="kim-pon">
        <img src="../assets/bjj-logo.png" id="kimono1" class="kimono" alt="">
        <img src="../assets/kimono-faixa/Faixa-amarela.png" class="faixa" id="faixa1" alt="">
        <span class="ponto"><p>00</p></span>
      </div>
      <div class="falVan">
        <div>
          <p>FALTA</p>
          <span class="boxF falta">00</span>
        </div>
        <div>
          <p>VANTAGEM</p>
          <span class="boxF vantagem">00</span>
        </div>
      </div>
      <div class="pontos">
        <div class="pontoBox">
          <p>Montada pegada pelas costas</p>
          <span class="boxP"><p>00</p></span>
        </div>
        <div class="pontoBox">
          <p>Passagem pela Guarda</p>
          <span class="boxP"><p>00</p></span>
        </div>
        <div class="pontoBox">
          <p>Queda <br> Raspagem <br>Joelho na barriga</p>
          <span class="boxP"><p>00</p></span>
        </div>
      </div>
    </div>
    <div class="relogio">
      <h1>TEMPO</h1>
      <span class="contador" id="contador">05:00</span>
      <span class="buttonR" id="resetFight"><p>Reiniciar Luta</p></span>
      <!-- <span class="buttonR"><p>Trocar Lutador 1</p></span>
      <span class="buttonR"><p>Trocar Lutador 2</p></span>
      <span class="buttonR"><p>Definir Vencedor</p></span> -->
    </div>
    <div class="atleta">
      <div class="falVan">
        <div>
          <p>FALTA</p>
          <span class="boxF falta">00</span>
        </div>
        <div>
          <p>VANTAGEM</p>
          <span class="boxF vantagem">00</span>
        </div>
      </div>
      <div class="pontos">
        <div class="pontoBox">
          <p>Montada pegada pelas costas</p>
          <span class="boxP"><p>00</p></span>
        </div>
        <div class="pontoBox">
          <p>Passagem pela Guarda</p>
          <span class="boxP"><p>00</p></span>
        </div>
        <div class="pontoBox">
          <p>Queda <br> Raspagem <br>Joelho na barriga</p>
          <span class="boxP"><p>00</p></span>
        </div>
      </div>
      <div class="kim-pon">
        
        <img src="../assets/bjj-logo.png" id="kimono2" class="kimono" alt="">
        <img src="../assets/kimono-faixa/Faixa-amarela.png" class="faixa" id="faixa2" alt="">
        <span class="ponto"><p>00</p></span>
      </div>
      <input type="checkbox" class="faixaVA" name="faixaVA" id="faixaVA2">
      
    </div>
  </main>
  <script src="../public/js/arbitragem.js"></script>
</body>
</html>
