<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Arbitragem da Luta</title>
  <link rel="stylesheet" href="../public/css/arbitragem.css">
</head>
<body>
  <header>
    <div class="compD">
      <span class="nomeAtleta"><p id="atleta1Nome">Nome do Atleta</p></span>
      <img class="logoAcad" id="acad1" src="../assets/bjj-logo.png" alt="comp2Acad">
    </div>
    <img class="logo" src="../assets/logo-org.webp" alt="">
    <div class="compD">
      <img class="logoAcad" id="acad2" src="../assets/bjj-logo.png" alt="comp2Acad"> 
      <span class="nomeAtleta"><p id="atleta2Nome">Nome do Atleta</p></span>
    </div>
  </header>
  <main>
    <div class="atleta">
      <div class="kim-pon">
        <img src="../assets/bjj-logo.png" id="kimono1" class="kimono" alt="">
        <span class="ponto"><p>00</p></span>
      </div>
      <div class="falVan">
        <div>
          <p>FALTA</p>
          <span class="boxF falta"></span>
        </div>
        <div>
          <p>VANTAGEM</p>
          <span class="boxF vantagem"></span>
        </div>
      </div>
    </div>
    <div class="relogio">
      <h1>TEMPO</h1>
      <span class="contador" id="contador">00:00</span>
    </div>
    <div class="atleta">
      <div class="falVan">
        <div>
          <p>FALTA</p>
          <span class="boxF falta"></span>
        </div>
        <div>
          <p>VANTAGEM</p>
          <span class="boxF vantagem"></span>
        </div>
      </div>
      <div class="kim-pon">
        
        <img src="../assets/bjj-logo.png" id="kimono2" class="kimono" alt="">
        <span class="ponto"><p>00</p></span>
      </div>
      
    </div>
  </main>
  <script src="../public/js/arbitragem.js"></script>
  <script>
  const contador = document.getElementById("contador");
  const pausa = document.getElementById('pausar');
  let intervalo;

  contador.addEventListener("click", () => {
    let tempo = 5 * 60; // 5 minutos em segundos

    clearInterval(intervalo); // caso clique mais de uma vez

    intervalo = setInterval(() => {
      const minutos = String(Math.floor(tempo / 60)).padStart(2, "0");
      const segundos = String(tempo % 60).padStart(2, "0");
      contador.textContent = `${minutos}:${segundos}`;

      if (tempo <= 0) {
        clearInterval(intervalo);
      }
      if(minutos == '04' && segundos <= '59'){
        contador.classList.add('dezS')
      }

      tempo--;
    }, 1000);
  });
</script>
</body>
</html>
