<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/competidor.css" />
  <title>Document</title>
</head>
<body>
  <header>
    <img src="../assets/logo-org.webp" alt="">
  </header>
  <!-- Supondo que seu HTML tenha esses elementos -->
<main>
  <div class="show">
    <div class="data">
            <div>
              <label class="nome" for="nome">Nome</label>
              <input
                type="text"
                class="dataIn nome"
                name="nome"
                placeholder="Nome"
                id="nome"
              />
            </div>
            <button id="envi">Buscar</button>
        <div id="all"></div>
        <div id="pagination"></div>
  </div>
</main>

<script src="../public/js/competidores.js"></script>
</body>
</html>