<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Sistema Lorem</h1>
    </header>
    <main>
        <div class="container">
            <h2>Seja bem vindo ao Lorem Ipsun</h2>
            <ul>
                <li><button><a href="./login.html">Sou gerenciador</a></button></li>
                <li><button><a href="./inscricao.html">Sou competidor</a></button></li>
            </ul>
        </div>
    </main>
</body>

</html>