<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/formComp.css">
    
    <title>Registro</title>
</head>

<body>
    
    <main>
        <form id="multiStepForm">
        <div class="head">
            <img src="../assets/logo-org.webp" alt="Logo">
        </div>

        <!-- Passo 1 -->
        <div class="formStep formStepActive">
            <div class="progress">
                <span class="line"></span><span class="active"></span>
                <span></span><span></span><span></span><span></span>
            </div>
            <div class="formInp">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="telefone">Telefone</label>
                <input type="tel" name="telefone" id="telefone">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="tipo">Sou:</label>
                <select name="tipo" id="tipo">
                    <option value="comp">Competidor</option>
                    <option value="espec">Espectador</option>
                </select>
            </div>
            <div class="btn-groups">
                <button type="button" class="btn btn-next">Avançar</button>
            </div>
        </div>

        <!-- Passo 2 -->
        <div class="formStep">
            <div class="progress">
                <span class="line"></span><span class="active"></span>
                <span class="active"></span><span></span><span></span><span></span>
            </div>
            <div class="formInp">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <small class="error-message"></small>
            </div>
            <div class="formInp senha">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="confirmaSenha">Confirma Senha</label>
                <input type="password" name="confirmaSenha" id="confirmaSenha">
                <small class="error-message"></small>
            </div>
            <div class="btn-groups">
                <button type="button" class="btn btn-prev">Voltar</button>
                <button type="button" class="btn btn-next">Avançar</button>
            </div>
        </div>

        <!-- Passo 3 -->
        <div class="formStep">
            <div class="progress">
                <span class="line"></span><span class="active"></span>
                <span class="active"></span><span class="active"></span><span></span><span></span>
            </div>
            <div class="formInp">
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" id="endereco">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="cidade">Cidade</label>
                <input type="text" name="cidade" id="cidade">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="estado">Estado</label>
                <select name="estado" id="estado">
                        <option value="">Selecione um Estado</option>
                        <option value="AC">Acre (AC)</option>
                        <option value="AL">Alagoas (AL)</option>
                        <option value="AP">Amapá (AP)</option>
                        <option value="AM">Amazonas (AM)</option>
                        <option value="BA">Bahia (BA)</option>
                        <option value="CE">Ceará (CE)</option>
                        <option value="DF">Distrito Federal (DF)</option>
                        <option value="ES">Espírito Santo (ES)</option>
                        <option value="GO">Goiás (GO)</option>
                        <option value="MA">Maranhão (MA)</option>
                        <option value="MT">Mato Grosso (MT)</option>
                        <option value="MS">Mato Grosso do Sul (MS)</option>
                        <option value="MG">Minas Gerais (MG)</option>
                        <option value="PA">Pará (PA)</option>
                        <option value="PB">Paraíba (PB)</option>
                        <option value="PR">Paraná (PR)</option>
                        <option value="PE">Pernambuco (PE)</option>
                        <option value="PI">Piauí (PI)</option>
                        <option value="RJ">Rio de Janeiro (RJ)</option>
                        <option value="RN">Rio Grande do Norte (RN)</option>
                        <option value="RS">Rio Grande do Sul (RS)</option>
                        <option value="RO">Rondônia (RO)</option>
                        <option value="RR">Roraima (RR)</option>
                        <option value="SC">Santa Catarina (SC)</option>
                        <option value="SP">São Paulo (SP)</option>
                        <option value="SE">Sergipe (SE)</option>
                        <option value="TO">Tocantins (TO)</option>
                    </select>
                <small class="error-message"></small>
            </div>
            <div class="btn-groups">
                <button type="button" class="btn btn-prev">Voltar</button>
                <button type="button" class="btn btn-next">Avançar</button>
            </div>
        </div>

        <!-- Passo 4 -->
        <div class="formStep">
            <div class="progress">
                <span class="line"></span><span class="active"></span>
                <span class="active"></span><span class="active"></span><span class="active"></span><span></span>
            </div>
            <div class="formInp">
                <label for="nascimento">Data de Nascimento</label>
                <input type="date" name="nascimento" id="nascimento">
                <small class="error-message"></small>
            </div>
            <div class="formInp" id="responsavelContainer" style="display: none;">
                <label for="responsavel">Responsável Legal</label>
                <input type="text" name="responsavel" id="responsavel">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="genero">Gênero</label>
                <select name="genero" id="genero">
                    <option value="masc">Masculino</option>
                    <option value="fem">Feminino</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
            <div class="btn-groups">
                <button type="button" class="btn btn-prev">Voltar</button>
                <button type="button" class="btn btn-next">Avançar</button>
            </div>
        </div>

        <!-- Passo 5 -->
        <div class="formStep">
            <div class="progress">
                <span class="line"></span><span class="active"></span>
                <span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span>
            </div>
            <div class="formInp">
                <label for="graduacao">Graduação</label>
                <select name="graduacao" id="graduacao">
                        <option value="">Selecione uma Graduação</option>
                        <optgroup label="Branca - Verde">
                            <option value="branca">Faixa Branca</option>
                            <option value="cinza">Faixa Cinza</option>
                            <option value="amarela">Faixa Amarela</option>
                            <option value="laranja">Faixa Laranja</option>
                            <option value="verde">Faixa Verde</option>
                        </optgroup>
                        <optgroup id="azulMais" label="Azul+">
                            <option value="azul">Faixa Azul</option>
                            <option value="roxa">Faixa Roxa</option>
                            <option value="marrom">Faixa Marrom</option>
                            <option value="preta">Faixa Preta</option>
                            <option value="vermelha_preta">Faixa Vermelha e Preta</option>
                        </optgroup>
                    </select>
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="equipe">Equipe</label>
                <input type="text" name="equipe" id="equipe">
                <small class="error-message"></small>
            </div>
            <div class="formInp">
                <label for="professor">Professor</label>
                <input type="text" name="professor" id="professor">
                <small class="error-message"></small>
            </div>
            <div class="btn-groups">
                <button type="button" class="btn btn-prev">Voltar</button>
                <button type="submit" class="btn btn-submit">Finalizar</button>
            </div>
        </div>
    </form>
    </main>
</body>
<script defer src="../public/js/inscricao.js"></script>


</html>