<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/formComp.css">
    
    <title>Registro</title>
</head>

<body>
    
    <main>
        <form action="">
            <div class="head">
                <img src="../assets/logo-org.webp" alt="">
            </div>
            <div class="formStep formStepActive">
                <div class="progress">
                    <span class="line"></span>
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="formInp">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div class="formInp">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="formInp">
                    <label for="tipo">Sou:</label>
                    <select name="tipo" id="tipo">
                        <option value="comp">Competidor</option>
                        <option value="espec">Espectador</option>
                    </select>
                </div>
                <div class="btn-groups">
                    <button class="btn btn-prev">Voltar</button>
                    <button class="btn btn-next">Avançar</button>
                </div>
            </div>
        </form>
    </main>
</body>
<script defer src="../public/js/inscricao.js"></script>


</html>