<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/login.css">
    
    <title>Registro</title>
</head>

<body>
    
    <main id="main">
        <form id="multiStepForm">
        <div class="head">
            <img src="../assets/logo-org.webp" alt="Logo">
        </div>

        <!-- Passo 1 -->
        <div class="formLogin">
            <div class="forms">
                <div class="formInp">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <small class="error-message"></small>
                </div>
                <div class="formInp">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                    <small class="error-message"></small>
                </div>
                <div class="btn-login">
                    <button type="button" class="btn btn-submit">Avançar</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    </main>
</body>
<script defer src="../public/js/login.js"></script>


</html>