@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../assets/wallpaper.jpg');
    height: 100vh;
    width: 100%;
    height: 100vh;
    position: relative;
}

header{
    display: flex;
    width: 100%;
    height: 180px;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    background-color: #030a12;
}

header>img, header>div>img{
    height: 150px;
}

.logoAcad{
    border: 8px white solid;
    width: 150px;
}

.compD {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
}

.nomeAtleta{
    color: white;
    height: 75px;
    width: 500px;
    border: white 8px solid;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

main{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    margin-top: 1rem;
}

.contador{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    cursor: pointer;
    color: white;
    font-size: 175px;
    font-weight: 800;
    border: 10px white solid;
    background-color: #030a12;
    margin-bottom: 1rem;
}

.faixa{
    position: absolute;
    width: 145px;
    height: 150px;
    bottom: 200px;
}

.faixaVA{
    align-self: flex-start;
    margin: 150px 0;
}

.relogio{
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    color: white;
}

.buscaLuta{
    position: absolute;
    top: 25px;
    right: 0;
    width: 500px;
    margin-right: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buscaLuta>input{
    width: 300px;
    text-align: center;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    height: 30px;
}

.buscaLuta>input:focus + .fights {
    display: block;
}

.fights{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #030a12;
    overflow: auto;
    color: white;
    z-index: +1;
    gap: 0.5rem;
}

#selectArea{
    margin-top: 1rem;
    border: none;
    align-self: center;
}

.fights>div{
    border: 2px solid white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.fights>div>p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    font-weight: 700;
}

.vs{
    position: absolute;
    left: 225px;
}

.relogio>h1{
    font-size: 3rem;
}

.atleta{
    display: flex;
    align-items: flex-end;
}

.kimono{
    width: 300px;
    height: 350px;
}

.falVan{
    display: flex;
    gap: 2rem;
    color: white;
    font-weight: 700;
    text-align: center;
}

.boxF{
    display: flex;
    width: 100px;
    margin-top: 0.4rem;
    height: 130px;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border: 10px solid white;
}

.buttonR{
    width: fit-content;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    height: 50px;
    display: flex;
    margin-top: 1rem;
    font-size: 25px;
    background-color: #030a12;
    border: white 5px solid;
}

.falta{
    background-color: rgb(213, 86, 86);
}
.vantagem {
    background-color: rgb(90, 86, 213);
}

.atleta:nth-child(1){
    position: absolute;
    left: 100px;
}

.atleta:nth-last-child(1) {
    position: absolute;
    right: 100px;
}

.ponto{
    display: flex;
    width: 250px;
    border: 10px solid white;
    height: 150px;
    font-size: 150px;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #030a12;
    margin-top: 1rem;
}



.kim-pon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dezS {
  animation: trocaCor 1.8s infinite;
  animation-timing-function: steps(1, end);
}

.pontos{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: -200px;
    color: white;
    gap: 2rem;
    font-size: 10pt;
    text-align: center;
}

.pontos:nth-last-child(1){
    left: 160px;
}
.pontoBox{
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.boxP{
    display: flex;
    background-color: white;
    height: 110px;
    cursor: pointer;
    width: 120px;
    align-items: center;
    justify-content: center;
    border: 8px rgb(49, 49, 49) solid;
}

.boxP{
    color: black;
    font-size: 90px;
    font-weight: 700;
}

@keyframes trocaCor {
  0% { color: red; }
  50% { color: white; }
  100% { color: rgb(255, 255, 255); }
}