body{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: white;
    width: 540px;
    height: 710px;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 1s;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1E3A5F;
    border-radius: 17px 17px 35px 35px;
}

.sepL{
    width: 2px;
    height: 130px;
    background-color: #0a2446;
}

.show-password {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    margin-top: -2rem !important;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}

.show-password input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.head>img{
    width: 190px;
}

.progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px;
    width: 454px;
    height: 48px;
}

#responsavel{
    margin-top: 0.5rem;
}

.progress>span.line{
    display: block;
    background-color: #1E3A5F;
    z-index: 0;
    position: absolute;
    width: 454px;
    height: 10px;
}

.progress>span:not(.line){
    display: block;
    height: 48px;
    border-radius: 100%;
    width: 48px;
    z-index: 1;
    background-color: #1E3A5F;
    border: solid black 1px;
    cursor: pointer;
}

.progress>span:not(.active):not(.line){
    background-color: #ffffff;
}

.formStep{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
    width: 450px;
    height: 400px;
}

.formInp{
    display: flex;
    flex-direction: column;
    gap: 0.87rem;
}

.formInp>input, .formInp>select{
    height: 2.81rem;
    border: solid black 1px;
    background-color: white;
    padding: 0 1rem;
    border-radius: 10px;
    font-size: 18px;
}

input.error,
select.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
    display: block;
    margin-bottom: 1rem;
}

.formInp>select{
    height: 2.93rem;
}

.btn-groups{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn{
    border: none;
    width: 212px;
    height: 46px;
    font-size: 18px;
    border: black solid 1px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.btn-prev{
    background-color: white;
}

.btn-next{
    color: white;
    background-color: #1E3A5F;
}

.btn-submit{
    background-color: #FFC72C;
    color: #1E3A5F;
}

.btn-prev:hover {
    background-color: rgb(201, 201, 201);
}

.btn-next:hover {
    color: white;
    background-color: #132946;
}

.btn-submit:hover {
    background-color: #a37800;
    color: #ffffff;
}

.formStep {
    display: none;
}

.formStepActive {
    display: block;
}

.doubleStep{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.doubleStep>div{
    width: 47%;
}

#responsavel, #responsavel-cpf{
    padding: 0;
    margin-top: 0.5rem;
    width: 100%;
}

#responsavel-foto{
    box-sizing: border-box;
    padding-top: 0.45rem;
}