header{
    width: 100vw;
    background-color: #1E3A5F;
    display: flex;
    justify-content: center;
    max-height: 450px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 1440px;
}

.header{
    width: 100%;
    padding: 0.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header .header .logo{
    width: 100%;
    max-width: 200px;
}

.hamb{
    width: 45px;
    height: 45px;
    font-size: 45px !important;
    color: #FFC72C;
    cursor: pointer;
}

.hambRotate{
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.buttons{
    list-style: none;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.log{
    cursor: pointer;
    width: 120px;
    height: 45px;
    border: none;
    background-color: #FFC72C;
    color: #1E3A5F;
    font-weight: 800;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.log:hover{
    background-color: #a37800;
    
}